:root {
    /* Color Variables */
    --background: #6750A414;
    --border-color: #A9A9A9;
    --primary-color: #2596be;
    --white: #fff;
    --error-color: #FF0000
  } 

body {
    font-family: "Roboto", sans-serif;
}